<!doctype html>
<html lang="en">

<!-- Latest versions of Bootstrap, jquery, and css-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/scripts/status.js"></script>
<link rel="stylesheet" href="/css/admin-shared.css" type="text/css" /> 

{{> adminHeader}}

<body>

    
    {{> statusCheck}}
    <!-- This is the reservation form -->
    {{> reservationForm}}
    <h1> All Current Reservations: </h1>
    <table align="center">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Date(YYYY-MM-DD)</th>
            <th>Time(24hrs)</th>
            <th>Location</th>
            <th>Action</th>
        </tr>
        {{#each Reservations}}
        <tr>
            <td>{{_id}}</td>
            <td>{{name}}</td>
            <td>{{year}}/{{month}}/{{date}}</td>
            <td>{{time}}</td>
            <td>{{location}}</td>
            <td>
               <form action="/admin" method="post">
                        <button type="button" class="btn btn-primary">Edit</button>
                        <button class = "btn btn-danger"  type="submit" value={{_id}} name="delete">Delete</button>
                </form> 
            </td>
        </tr>
        {{/each}}
    </table>

</body>



{{> footer}}


</html>