<!doctype html>

<html lang="en">

<!-- Latest versions of Bootstrap, jquery, and css-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/css/mainPage.css" type = "text/css"/>
<link rel="stylesheet" href="/css/shared.css" type = "text/css"/>

{{> header}}
{{> statusCheck}}

<body>
    <div class = "mainPage">
        {{#if User}}

            <p> Welcome, {{User.firstName }} to this reservation software!</p>
            <p> To make a reservation, scroll down</p>
            <p> To check up on an existing reservation, click<a href ="MyAccount"> my account</a></p>
            <p> Here is a list of available times for reservation</p>

            <table align="center">

            <tr>
                <th>Date(YYYY-MM-DD)</th>
                <th>Time(24hrs)</th>
                <th>Location</th>
                <th>Click To Reserve</th>
            </tr>
            {{#each Reservations}}
            <tr>
                <td>{{year}}/{{month}}/{{date}}</td>
                <td>{{time}}</td>
                <td>{{location}}</td>
                <td>
                    <form action="/" method="post">
                        <button class = "btn btn-primary" type="submit" value={{_id}} name="selection">Register</button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </table>


        {{!-- If not logged in, can't add any reservation --}}
        {{else}}
            <p>This is a website to make reservations</p>
            <p>To make a reservation, you must first create an account <a href = "auth/login">here</a></p>
        {{/if }}

    </div>
</body>


{{> footer}}


</html>